footer{
    padding: 10px;
    background-color: #1212;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    p{
        padding: 0;
        margin: 0;
    }
}